$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$tex-black: #41464D;
$btn-accent: #A5415D;
$white: #FFFFFF;
$bg-secondary: #EFE8ED;
$bg-third: #DAD0D8;
$bg-primary: #8E5562;
$btn: #C08B9A;
// $bg-primary: #9B6177;